body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #991200;
    color: rgb(0, 0, 130);
}

header {
    background-color: #050589;
    box-shadow: 0 2px 10px black;
}

.navbar {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 1rem;
    font-size: 20px;
}  

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: #222;
}

.logo span {
    color: #34a1a7;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    position: relative;
    text-decoration: none;
    color: #6d6d6d;
    font-weight: 500;

}

.nav-links a:hover {
    color: #34a1a7;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;           
    height: 2px;           
    width: 0%;              
    background-color: #34a1a7;
    transition: width 0.3s ease; 
}

.nav-links a:hover::after {
    width: 100%;
}

.Titel {
    margin: 200px 34% 300px 34%;
    display: flex;
    font-size: 200px;
    transition: 1s;
}
.Titel:hover {
    transform: scaleX(1.7);
}

.doosjes ul li {
    display: inline-block;
    border-radius: 45px;
    padding: 120px;
    margin: 40px;
    background-color: red;
    transition: 1s;
}
.doosjes ul li:hover {
    transform: translateY(-50px);
    background-color: blue;
}

.animatie {
    margin: 200px 40% 200px 40%;
    background-color: blue;
    padding: 20px 5px 80px 120px;
    border-radius: 15px;
    display: flex;
    box-shadow: blue;
    font-size: 100px;
    transition: 1s;
    animation-name: spin;
    animation-duration: 1s;
    animation-play-state: paused;
}

.animatie:hover {
    animation-play-state: running;
}


@keyframes spin {
    0% {

    }
    50% {
        transform: rotate(0deg);
        transform: scaleX(1);
    }
    100% {
        transform: rotate(180deg);
        transform: scaleX(3)
    }
}



@media (max-width: 700px) {
    .navbar {
        flex-direction: column;
        gap: 1rem;
    }
}

